$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$circle-down: "\e903";
$circle-right: "\e904";
$circle-left: "\e902";
$arrow-right: "\e909";
$arrow-left: "\e90a";
$enlarge: "\e90b";

$pause: "\e907";
$play: "\e908";
$volume-medium: "\ea27";

$facebook: "\e906";
$instagram: "\e905";
$youtube: "\e901";
$tiktok: "\e900";