$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-discord: "\e900";
$icon-teamspeak: "\e901";
$icon-coin-dollar: "\e93b";
$icon-users: "\e972";
$icon-lab: "\e9aa";
$icon-arrow-right: "\ea34";
$icon-arrow-down: "\ea36";
$icon-arrow-left: "\ea38";
$icon-circle-right: "\ea42";
$icon-circle-left: "\ea44";
$icon-facebook: "\ea90";
$icon-instagram: "\ea92";
$icon-youtube: "\ea9d";