@use "adventure";
@use "utils" as utils;
@use "../font/variables" as font;
@use "header/variables" as header;

.stage-homepage {
    height: calc(100svh - #{header.$menu-height});
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background: {
        repeat: no-repeat;
        position: 65% 50%;
        size: cover;
    }
    @include adventure.breakpoint("medium") {
        background: {
            repeat: no-repeat;
            position: center;
            size: cover;
        }
    }
    &::before {
        content: "";
        @include utils.absolute-stretch();
        background: {
            image: linear-gradient(to right,                   
                    rgba(black, 0.75) 20%,
                    rgba(black, 0.5) 40%,
                    rgba(black, .25) 60%,

                    transparent);
        }
    }
    .content {
        position: relative;
        display: flex;
        flex: {
            direction: column;
        }
        justify-content: space-between;
        align-items: flex-start;
        width: 66%;
    }
    .claim {
        margin: {
            bottom: var(--spacing-xlarge);
        }
        font: {
            size: adventure.font-size("large");
            weight: font.$font-weight-bold;
        }
        @include utils.text-shadow();
    }
}