@use "adventure";
@use "utils" as utils;
@use "list/mixins" as lists;
@use "font/variables" as font;

.services {
    @include lists.reset-list();
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: var(--spacing-large);
    li {
        position: relative;
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        overflow: hidden;
        @include adventure.breakpoint("large") {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }       
        &:nth-child(even) {
            .background-image {
                @include adventure.breakpoint("large") {
                    order: 1;
                }
            }           
        }
        .background-image {            
            background: {
                size: cover;
                position: center;
            }
            mix-blend-mode: luminosity;
            height: 100%;
            aspect-ratio: 16/9;
        }
        .content {
            position: relative;
            padding: var(--spacing-large);
            @include utils.text-shadow;
            background: {
                color: adventure.color("black");
            }
        }
    }
}