@use "adventure";
@use "../icon/variables" as icons;
@use "../button/variables" as buttons;
@use "../font/variables" as fonts;

.youtube-playlist {
    display: grid;
    grid-template-columns: minmax(0, 1fr);

    @include adventure.breakpoint("large") {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    [data-type="placeholder"] {
        align-self: flex-start;

        .cm-buttons {
            display: none !important;
        }
    }

    audio {
        display: none;
    }

    .media-wrapper {
        position: relative;
        aspect-ratio: 16 / 9;
        width: 100%;

        max: {
            width: 100%;
        }

        display: flex;
        justify-content: center;
        align-items: center;

        iframe {
            aspect-ratio: 16 / 9;
            width: 100%;
        }
    }

    .song-list {
        background: {
            color: adventure.color("black");
        }
        margin: 0;
        padding: var(--spacing-default);
        list-style: none;

        .song {
            border: {
                bottom: 1px solid adventure.color("grey");
            }

            display: flex;
            cursor: pointer;
            align-items: center;
            padding: var(--spacing-medium);

            @include adventure.breakpoint("large") {
                padding: var(--spacing-default);
            }

            &:first-child {
                border: {
                    top: 1px solid adventure.color("grey");
                }
            }

            transition: background-color buttons.$hover-transition-out;

            &:hover {
                background: {
                    color: adventure.color("grey-darker");
                }

                transition: background-color buttons.$hover-transition-in;
            }

            &.is-active {
                color: adventure.color("corporate");
            }

            .dash {
                padding: 0 var(--spacing-small);
            }
        }
    }
}