@use "adventure";
@use "button/variables" as button;
@use "list/mixins" as list;
@use "font/variables" as font;

.social-media-overview-list {
    @include list.reset-list();
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: var(--spacing-large);
    margin: {
        bottom: var(--spacing-xlarge);
    }
    li {
        a {
            &::before {
                font: {
                    size: adventure.font-size("xxlarge");
                }
            }
            border: {
                radius: button.$border-radius;
            }
            display: flex;
            justify-content: center;
            align-items: center;
            aspect-ratio: 1;
            background: {
                color: adventure.color("corporate");
            }
            color: font.$font-color;
            transition: background-color button.$hover-transition-out, color button.$hover-transition-out;
            &:hover,
            &:focus {
                transition: background-color button.$hover-transition-in, color button.$hover-transition-in;
                background: {
                    color: white;
                }
                color: button.$hover-color;
            }
        }
    }
}
