@use "adventure";
@use "mixins";
@use "font" as font;
@use "utils" as utils;

html {
    @include font.family-default();
    font: {
        weight: 300;
    }
    line: {
        height: 1.43;
    }
    scroll: {
        behavior: smooth;
    }
}

p {
    margin: {
        top: 0;
        bottom: var(--spacing-medium);
    }
    &.intro {
        font: {
            weight: font.$font-weight-bold;
        }
    }
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4 {
    margin: {
        top: 0;
    }
    font-family: font.$font-family-headline;
    @include utils.text-shadow();
}

h1,
.h1 {
    @include mixins.headline-h1;
}

h2,
.h2 {
    @include mixins.headline-h2;
}

h3,
.h3 {
    @include mixins.headline-h3;
}

h4,
.h4 {
    @include mixins.headline-h4;
}