@use "adventure";
@use "variables";

@font-face {
    font: {
        family: "icomoon";
        display: block;
        style: normal;
        weight: normal;
    }
    src: url("icomoon.woff") format("truetype"),
    url("icomoon.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 300;
        style: normal;
        display: swap;
    }
    src: url("Roboto-Light.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 400;
        style: normal;
        display: swap;
    }
    src: url("Roboto-Regular.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Roboto";
        weight: 500;
        style: normal;
        display: swap;
    }
    src: url("Roboto-Medium.ttf") format("truetype");
}

@font-face {
    font: {
        family: "Anton";
        weight: 400;
        style: normal;
        display: swap;
    }
    src: url("Anton-Regular.ttf") format("truetype");
}

html {
    font: {
        size: 87.5%;
    }
    @include adventure.breakpoint("medium") {
        font: {
            size: 100%;
        }
    }
}

body {
    font: {
        family: variables.$font-family;
        size: adventure.font-size("default");
        weight: variables.$font-weight-thin;
    }
    color: variables.$font-color;
}