@use "adventure";

$font-family: Roboto, Arial, Helvetica, system-ui, sans-serif;
$font-family-headline: Anton, Arial, Helvetica, system-ui, sans-serif;
$font-color: adventure.color("white");

$font-weight-thin: 300;
$font-weight-default: 400;
$font-weight-bold: 500;

$font-weight-headline-semi-bold: 400;
$font-weight-headline-bold: 400;