@use "adventure";
@use "variables";
@use "utils/mixins" as utils;
@use "list/mixins" as list;
@use "font/variables" as font;
@use "button/variables" as button;



header {
    width: 100vw;
    position: fixed;
    z-index: adventure.z-index("header");
    height: variables.$menu-height;
    top: 0;
    left: 50%;
    right: 0;
    transform: translate(-50%, 0);
    background: {
        color: black;
    }
    .section-wrapper {
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }
    .logo {
        display: block;
        background: {
            image: url("logo.svg");
            size: contain;
            position: center center;
            repeat: no-repeat;
        }
        height: 75%;
        aspect-ratio: 1;
    }
    @include adventure.breakpoint("large", "max") {
        .burger-wrapper {
            padding: var(--spacing-default);
            cursor: pointer;
            .burger {
                width: 25px;
                aspect-ratio: 1.25;
                position: relative;
                > div {
                    width: 100%;
                    height: 2px;
                    position: absolute;
                    left: 0;
                    background: {
                        color: adventure.color("white");
                    }
                    transform-origin: center;
                    transition: rotate 0.2s ease-out, opacity 0.2s ease-out, top 0.2s ease-out, bottom 0.2s ease-out;
                    &:nth-child(1) {
                        top: 0;
                    }
                    &:nth-child(2) {
                        top: 50%;
                        translate: 0 -50%;
                    }
                    &:nth-child(3) {
                        bottom: 0;
                    }
                }
            }
            &.is-active {
                .burger {
                    > div {
                        &:nth-child(1) {
                            top: 50%;
                            translate: 0 -50%;
                            rotate: 45deg;
                        }
                        &:nth-child(2) {
                            opacity: 0;
                        }
                        &:nth-child(3) {
                            bottom: 50%;
                            translate: 0 50%;
                            rotate: -45deg;
                        }
                    }
                }
            }
        }
        ul {
            @include list.reset-list();
            box-shadow: 0px 10px 20px 0px adventure.color("black");
            display: grid;
            grid-template-columns: minmax(0, 1fr);
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            width: 100%;
            max-width: 100%;
            background: {
                color: adventure.color("black");
            }
            padding: {
                top: var(--spacing-large);
                bottom: var(--spacing-large);
            }
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.2s ease-out;
            &.is-active {
                opacity: 1;
                pointer-events: all;
            }
            li {
                padding: {
                    top: var(--spacing-default);
                    right: var(--spacing-large);
                    bottom: var(--spacing-default);
                    left: var(--spacing-large);
                }
                text-align: center;
                &.highlight {
                     a {
                         padding: {
                             top: var(--spacing-medium);
                             right: var(--spacing-medium);
                             bottom: var(--spacing-medium);
                             left: var(--spacing-medium);
                         }
                     }
                }
            }
            a {
                display: inline-flex;
                align-items: center;
                height: 100%;
                color: white;
                border: {
                    bottom: 2px solid transparent;
                }
                transition: border-color 0.2s ease-out, color 0.2s ease-out;
                font: {
                    size: adventure.font-size("medium");
                }
                &::before {
                    content: unset;
                }
                &:hover {
                    border: {
                        bottom: {
                            color: white;
                        }
                    }
                }
                &.is-active {
                    color: adventure.color("corporate");
                    border: {
                        bottom: {
                            color: adventure.color("corporate");
                        }
                    }
                }
            }
        }
    }
    @include adventure.breakpoint("large") {
        .burger {
            display: none;
        }
        ul {
            @include list.reset-list();
            height: 100%;
            display: flex;
            li {
                height: 100%;
            }
            a {
                display: flex;
                align-items: center;
                height: 100%;
                padding: {
                    right: var(--spacing-default);
                    left: var(--spacing-default);
                }
                color: white;
                border: {
                    bottom: 2px solid transparent;
                }
                transition: border-color 0.2s ease-out, color 0.2s ease-out;
                font: {
                    size: adventure.font-size("medium");
                }
                &::before {
                    content: unset;
                }
                &:hover {
                    border: {
                        bottom: {
                            color: white;
                        }
                    }
                }
                &.is-active {
                    color: adventure.color("corporate");
                    border: {
                        bottom: {
                            color: adventure.color("corporate");
                        }
                    }
                }
            }
        }
    }
    .highlight {
        a {
            color: black;
            font: {
                weight: font.$font-weight-bold;
            }
            background: {
                color: adventure.color("corporate");
            }
            &.is-active {
                background: {
                    color: white;
                }
                color: black;
                border: {
                    bottom: {
                        color: adventure.color("corporate");
                    }
                }
            }
        }
    }
}
