$icon-remove: unquote('"\\e900"');
$icon-play: unquote('"\\e901"');
$icon-stop: unquote('"\\e902"');
$icon-pause: unquote('"\\e903"');
$icon-add: unquote('"\\e904"');
$icon-edit: unquote('"\\e905"');

